*.pyc
.idea/workspace.xml
instance/flaskr.egg-info/
playnnacle.egg-info/
.idea/workspace.xml___jb_tmp___
private_vars.env
app/**/flaskr.egg-info

# VSCode files
.vscode/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
app/static/swagger.json
